body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

main{
    display: grid;

}
a{
    color: white;
    text-decoration: none;
}

/* nav bar */
.main-content{
    width: 100%;
    height: 656px;
    background-color: cornflowerblue;
}
.watch-live{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    margin-right: 50px;
  
}

.left-section{
    margin-top: 10px;
    margin-left: 50px;

}
.left-section p{
    font-size: 24px;
    padding: 15px;
    width: 205px;
    background-color: #E02C6D;
    
}
.left-section .left-side{
    margin-bottom: 100px;
    margin-left: 50px;
    font-size: 64px;
    color: white;
    width: 468px;
    height: 365px;

}
.watch-live img{
    width: 470px;
    height: 400px;

}
/* 2nd section  */
.top-blogs{
    margin-top: 45px;
    margin-right: 5px;

}

.blog{
    box-shadow: grey 5px 5px 15px 1px;
    width: 456px;
    height: 580px;
    overflow: hidden;
}
.blogs .blog-thamnail img{
    width: 400px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    padding-left: 19px;
    
}
.blog-thamnail:hover{
    transform: scale(1.2);
    transition: transform 4s ease-out;

}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.blog-info a{
    text-decoration: none;
}

.blog-title{
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 19px;
}
.Blog-author{
    margin-left: 10px;
    padding: 19px;
    text-align: justify;
}
/* Fourth Section */
.match-highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    margin-top: 40px;
}
.match-highlights div{
    width: 50%;
}
.match-highlights img{
    width: 667px;
    height: 427px;
}
.left-div {
    margin-left: 70px;
}
.left-div h2{
    margin-top: 1px;
    font-size: 64px;
}
.left-div a{
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #E02C6D;
    padding: 15px 25px;
    margin-top: 24px;
}

/* Bonous Section */
.video-table{
    margin-top: 40px;
    margin-left: 70px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    margin: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
footer{
    margin-top: 27px;
    text-align: center;
    font-size: 24px;
}
footer .footer-logo{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
}

.fab{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 40px;
    background-color: rgb(52, 181, 255);
}
.fab.instragam{
    background-color: red;
}
.fab.youtube{
    background-color: red;
}

@media only screen and (max-width:688px){
 
    .container{
        width: 100%;
    }

    .blog{
        flex-direction: column;
       
    }
.blogs, .video-section{
    grid-template-columns: repeat(1, 1fr);
}
}
