body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

main{
    display: grid;

}



/* 2nd section  */
.top-blogs{
    margin-top: 27px;
    margin-right: 5px;

}

.blog{
    box-shadow: grey 5px 5px 15px 1px;
    width: 456px;
    height: 580px;
    overflow: hidden;
}
.blogs .blog-thamnail img{
    width: 400px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    padding-left: 19px;
    
}
.blog-thamnail:hover{
    transform: scale(1.2);
    transition: transform 4s ease-out;

}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.blog-info a{
    text-decoration: none;
}

.blog-title{
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 19px;
}
.Blog-author{
    margin-left: 10px;
    padding: 19px;
    text-align: justify;
}

.strike-ratting{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width:688px){
 
    .container{
        width: 100%;
    }

    .blog{
        flex-direction: column;
       
    }
.blogs, .video-section{
    grid-template-columns: repeat(1, 1fr);
}
}
